In [1]:
import pandas as pd

In [2]:
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:senhabdunifei@localhost:5432/investment_ia")

df = pd.read_sql("products_raw", engine)
# df = pd.read_parquet("datasets/raw.snnapy.parquet")
# df.head()

In [3]:
df.columns

Index(['index', 'id', 'name', 'market_type', 'benchmark', 'strategy', 'risk',
       'liquidity', 'is_income_tax_free', 'market', 'investor', 'return',
       'volatility', 'sharpe', 'max_dd', 'var', 'minimum_application'],
      dtype='object')

### Funções de preparação do dataset

In [4]:
from collections import defaultdict
from sklearn.preprocessing import LabelEncoder, StandardScaler, normalize


def apply_label_encoding(df, to_label_cols, cols):
    label_encoder = defaultdict(LabelEncoder)
    to_label_df = df[to_label_cols]
    not_to_label_df = df[cols]
    to_label_df = to_label_df.apply(lambda x: label_encoder[x.name].fit_transform(x))
    le_df = to_label_df.join(not_to_label_df)
    return le_df


def apply_scaler(df):
    scaler = StandardScaler()
    scaled = scaler.fit_transform(df)
    scaled_df = pd.DataFrame(columns=df.columns, data=scaled)
    return scaled_df


def apply_normalizer(df):
    normalized = normalize(df)
    normalized_df = pd.DataFrame(columns=df.columns, data=normalized)
    return normalized_df
    

def prepare_dataset(df, to_label_cols, cols):
    labeled_df = apply_label_encoding(df, to_label_cols, cols)
    scaled_df = apply_scaler(labeled_df)
    normalized_df = apply_normalizer(scaled_df)
    return normalized_df

## Test Case 1
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)

In [5]:
case_1_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "max_dd", "var", "minimum_application"]
case_1_to_label_cols = ["market_type", "benchmark", "strategy", "is_income_tax_free", "market", "investor"]

case_1_df = df.copy()
case_1_df.to_parquet("datasets/test_case_1_raw.snappy.parquet")
# case_1_df.to_sql("test_case_1_raw", engine, if_exists="replace")
case_1 = prepare_dataset(case_1_df, case_1_to_label_cols, case_1_cols)

case_1.to_parquet("datasets/test_case_1.snappy.parquet")
# case_1.to_sql("test_case_1", engine, if_exists="replace")

In [6]:
case_1.head()

,market_type,benchmark,strategy,is_income_tax_free,market,investor,risk,liquidity,return,volatility,sharpe,max_dd,var,minimum_application
0,-0.260998,-0.122141,0.208240,-0.081064,0.381686,-0.109181,0.187360,-0.121081,-0.153704,0.257802,0.005717,-0.448960,0.606543,-0.008921
1,-0.187629,-0.087806,0.149701,-0.058276,0.274390,-0.078489,0.134691,-0.087044,-0.373143,0.221454,0.004082,-0.625372,0.494656,-0.006416
2,-0.338596,-0.158455,0.270152,-0.105165,0.495165,-0.141642,0.243064,-0.157079,-0.280553,0.154261,0.007367,-0.448305,0.351462,-0.011577
3,-0.344158,-0.161058,0.274590,-0.106892,0.503299,-0.143969,0.247057,-0.159660,-0.088398,0.226287,0.007548,-0.146343,0.572357,-0.011767
4,-0.255538,-0.119586,0.203883,-0.079368,0.373701,-0.106897,0.183440,-0.118548,-0.156306,0.283589,0.005599,-0.469988,0.589828,-0.008737

___

## Test Case 2
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Mesmo número de amostras por mercado

In [7]:
df["market"].value_counts()

Renda Fixa               9145
Fundo de Investimento    4810
Renda Variável            786
Name: market, dtype: int64

In [8]:
case_2_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "max_dd", "var", "minimum_application"]
case_2_to_label_cols = ["market_type", "benchmark", "strategy", "is_income_tax_free", "market", "investor"]

case_2_df = df.copy()
sampled_df_2 = case_2_df.groupby("market").sample(n=700, random_state=13)
# sampled_df_2.to_sql("test_case_2_raw", engine, if_exists="replace")
sampled_df_2.to_parquet("datasets/test_case_2_raw.snappy.parquet")

case_2 = prepare_dataset(sampled_df_2, case_2_to_label_cols, case_2_cols)

case_2.to_parquet("datasets/test_case_2.snappy.parquet")
# case_2.to_sql("test_case_2", engine, if_exists="replace")

In [9]:
case_2.head()

,market_type,benchmark,strategy,is_income_tax_free,market,investor,risk,liquidity,return,volatility,sharpe,max_dd,var,minimum_application
0,0.275644,-0.118667,0.322580,-0.090990,-0.328272,-0.787821,0.209111,-0.129424,-0.075486,-0.010898,0.009056,-0.050872,0.004737,-0.013765
1,0.433736,-0.295469,0.507591,-0.143176,-0.516548,-0.178395,0.329044,-0.187746,-0.053002,-0.012619,0.014351,-0.008078,0.026240,-0.018149
2,0.522013,-0.284667,0.318610,-0.137941,-0.497662,-0.171872,-0.055110,-0.198398,0.083435,-0.110772,0.014338,0.310924,-0.298861,0.029867
3,0.316856,0.653911,0.193393,-0.083729,-0.302075,-0.104325,-0.485200,-0.120425,0.049441,-0.067220,0.008569,0.187880,-0.181774,-0.012667
4,0.441507,-0.190072,0.516685,-0.145741,-0.525802,-0.181591,0.334939,-0.207881,-0.089063,-0.009932,0.014567,-0.064572,0.054772,-0.022048

In [10]:
case_2_df["market"].value_counts()

Renda Fixa               9145
Fundo de Investimento    4810
Renda Variável            786
Name: market, dtype: int64

___

## Test Case 3
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Avaliação individual por mercado
4. Remoção de caracterizadores de produto (market_type, market)

In [11]:
case_3_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "max_dd", "var", "minimum_application"]
case_3_to_label_cols = ["benchmark", "strategy", "is_income_tax_free", "investor"]

name_map = {
    "Fundo de Investimento": "fn",
    "Renda Variável": "rv",
    "Renda Fixa": "rf"
}

case_3_df = df.copy()
for market, case_3_market_df in case_3_df.groupby("market"):
    case_3_market_df.to_parquet(f"datasets/test_case_3_{name_map[market]}_raw.snappy.parquet")
    # case_3_market_df.to_sql(f"test_case_3_{name_map[market]}_raw", engine, if_exists="replace")
    tmp_df = prepare_dataset(case_3_market_df, case_3_to_label_cols, case_3_cols)
    tmp_df.to_parquet(f"datasets/test_case_3_{name_map[market]}.snappy.parquet")
    # tmp_df.to_sql(f"test_case_3_{name_map[market]}", engine, if_exists="replace")

___

## Test Case 4
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Mesmo número de amostras por mercado
4. Remoção de caracterizadores de produto (market_type, market)

In [12]:
case_4_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "max_dd", "var", "minimum_application"]
case_4_to_label_cols = ["benchmark", "strategy", "is_income_tax_free", "investor"]

case_4_df = df.copy()
sampled_df_4 = case_4_df.groupby("market").sample(n=700, random_state=13)
# sampled_df_4.to_sql("test_case_4_raw", engine, if_exists="replace")
sampled_df_4.to_parquet("datasets/test_case_4_raw.snappy.parquet")

case_4 = prepare_dataset(sampled_df_4, case_4_to_label_cols, case_4_cols)

case_4.to_parquet("datasets/test_case_4.snappy.parquet")
# case_4.to_sql("test_case_4", engine, if_exists="replace")

In [13]:
case_4.head()

,benchmark,strategy,is_income_tax_free,investor,risk,liquidity,return,volatility,sharpe,max_dd,var,minimum_application
0,-0.131346,0.357045,-0.100711,-0.871995,0.231453,-0.143252,-0.083551,-0.012062,0.010023,-0.056307,0.005243,-0.015236
1,-0.400215,0.687536,-0.193933,-0.241637,0.445692,-0.254303,-0.071791,-0.017093,0.019439,-0.010942,0.035542,-0.024583
2,-0.410951,0.459953,-0.199135,-0.248119,-0.079558,-0.286412,0.120449,-0.159913,0.020699,0.448857,-0.431443,0.043117
3,0.727307,0.215100,-0.093127,-0.116034,-0.539660,-0.133942,0.054991,-0.074765,0.009531,0.208968,-0.202177,-0.014088
4,-0.261429,0.710658,-0.200455,-0.249763,0.460681,-0.285923,-0.122499,-0.013661,0.020036,-0.088814,0.075334,-0.030325

___

## Test Case 5
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Mesmo número de amostras por mercado
4. Remoção de caracterizadores de produto (market_type, market)
5. Remoção do benchmark (correlação com strategy)

In [14]:
case_5_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "max_dd", "var", "minimum_application"]
case_5_to_label_cols = ["strategy", "is_income_tax_free", "investor"]

case_5_df = df.copy()
sampled_df_5 = case_5_df.groupby("market").sample(n=700, random_state=13)
sampled_df_5.to_parquet("datasets/test_case_5_raw.snappy.parquet")
# sampled_df_5.to_sql("test_case_5_raw", engine, if_exists="replace")

case_5 = prepare_dataset(sampled_df_5, case_5_to_label_cols, case_5_cols)

case_5.to_parquet("datasets/test_case_5.snappy.parquet")
# case_5.to_sql("test_case_5", engine, if_exists="replace")

In [15]:
case_5.head()

,strategy,is_income_tax_free,investor,risk,liquidity,return,volatility,sharpe,max_dd,var,minimum_application
0,0.360166,-0.101592,-0.879616,0.233476,-0.144504,-0.084282,-0.012167,0.010111,-0.056799,0.005289,-0.015369
1,0.750241,-0.211620,-0.263675,0.486340,-0.277496,-0.078339,-0.018652,0.021212,-0.011940,0.038784,-0.026825
2,0.504524,-0.218432,-0.272163,-0.087267,-0.314166,0.132121,-0.175409,0.022705,0.492353,-0.473251,0.047295
3,0.313414,-0.135691,-0.169069,-0.786319,-0.195162,0.080125,-0.108938,0.013887,0.304479,-0.294585,-0.020528
4,0.736264,-0.207677,-0.258762,0.477279,-0.296225,-0.126912,-0.014153,0.020758,-0.092013,0.078048,-0.031418

## Test Case 6
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Remoção de caracterizadores de produto (market_type, market)
4. Utilização de apenas um atributo para cada especificação de negócio

In [21]:
case_6_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "minimum_application"]
case_6_to_label_cols = ["strategy"]

case_6_df = df.copy()[case_6_cols + case_6_to_label_cols + ["market", "market_type"]]
case_6_df.to_parquet("datasets/test_case_6_raw.snappy.parquet")
case_6_df.to_sql("test_case_6_raw", engine, if_exists="replace")

case_6 = prepare_dataset(case_6_df, case_6_to_label_cols, case_6_cols)

case_6.to_parquet("datasets/test_case_6.snappy.parquet")
case_6.to_sql("test_case_6", engine, if_exists="replace")

## Test Case 7
___
1. Todas as features do dataset
2. Desconsiderando atributos unicos (index, id, name)
3. Mesmo número de amostras por mercado
4. Remoção de caracterizadores de produto (market_type, market)
5. Utilização de apenas um atributo para cada especificação de negócio

In [22]:
case_7_cols = ["risk", "liquidity", "return", "volatility", "sharpe", "minimum_application"]
case_7_to_label_cols = ["strategy"]

case_7_df = df.copy()[case_7_cols + case_7_to_label_cols + ["market", "market_type"]]
sampled_df_7 = case_7_df.groupby("market").sample(n=700, random_state=13)
sampled_df_7.to_parquet("datasets/test_case_7_raw.snappy.parquet")
sampled_df_7.to_sql("test_case_7_raw", engine, if_exists="replace")

case_7 = prepare_dataset(sampled_df_7, case_7_to_label_cols, case_7_cols)

case_7.to_parquet("datasets/test_case_7.snappy.parquet")
case_7.to_sql("test_case_7", engine, if_exists="replace")